<h1>Take a Look Through our Departments!</h1>
<%= link_to 'Create New Department', new_department_path %>
<hr />
  <% @departments.each do |department| %>
    <h2><%= department.name %></h2>
    <ul>
      <%= link_to 'View', department_path(department) %>
    </ul>
  <% end %>
