<h1>Take a Look Through our Departments!</h1>
<%= link_to 'Create New Department', new_department_path %>
<ul>
  <% @departments.each do |department| %>
    <li><%= link_to department.name, department %></li>
  <% end %>
</ul>