<h1>Click an Item To View Content</h1>
<%= link_to 'Create a new Item', new_department_item_path %>
<ul>
  <% @items.each do |item| %>
    <p>Name: <%= item.name%></p>
    <li><%= link_to 'view', [@department, item] %></li>
  <% end %>
</ul>
